/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
	background-color: #ed872d
}

header{
	background-color: #808080;
	height: 60px;
	display: flex;
}

.logo{
	color: #ed872d;
	text-decoration: none;
	font-family: 'Metrophobic', sans-serif;
	font-size: 50px;
}

#add-link{
	padding: 5px 0 0 10px;
}

a.user-button.highlighted{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #446ccf), color-stop(1, #1164b4) );
	background:-moz-linear-gradient( center top, #446ccf 5%, #1164b4 100% );
	-webkit-box-shadow:inset 0px 1px 0px 0px #6082b6;-moz-box-shadow:inset 0px 1px 0px 0px #6082b6;box-shadow:inset 0px 1px 0px 0px #6082b6;
	border:2px solid #6082b6;
	width:110px;
	text-indent:-5px;
}

#welcome-message{
	padding: 15px 10px 0 0;
	color: #FFF;
	font-family: 'Metrophobic', sans-serif;
}

#user-links{
	float: right;
	padding: 5px 0 0 10%;
	display: flex;
}

.user-button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
	background-color:#ffce79;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fceaca;-moz-box-shadow:inset 0px 1px 0px 0px #fceaca;box-shadow:inset 0px 1px 0px 0px #fceaca;
	-webkit-border-top-left-radius:42px;-moz-border-radius-topleft:42px;border-top-left-radius:42px;
	-webkit-border-top-right-radius:0px;-moz-border-radius-topright:0px;border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:42px;-moz-border-radius-bottomright:42px;border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:0px;-moz-border-radius-bottomleft:0px;border-bottom-left-radius:0px;
	text-indent:0;
	text-decoration: none;
	border:2px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	height:46px;
	line-height:46px;
	width:98px;
	text-align:center;
	text-shadow:1px 1px 0px #ce8e28;
}

.user-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
	background-color:#eeaf41;
}

.user-button:active {
	position:relative;
	top:1px;
}

#links{
	background-color: #2d93ed;
	margin: 10px 10px 10px 10px;
	border: solid #bb6010;
}

.link{
	background-color: #75b8f3;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	margin: 10px inherit;
	padding: 15px 10px;
}

.link a.title{
	letter-spacing: 1px;
	text-decoration: none;
	color: #733b0a;
}

.link .description{
	margin: 10px inherit;
}

.link .source{
	float: right;
	font-size: 12px;
}

.link .source a.user{
	text-decoration: none;
	color: #733b0a;
}

footer{
	display: flex;
	background-color: rgba(0,0,0,0.2);
}

footer > * {
	margin: auto inherit;
}

footer img{
	vertical-align: top;
}

footer #technologies{
	-webkit-flex: 1;
	flex: 1;
}

footer p{
	padding: 5px 25px;
}

*{
	margin: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4.4em;
}

footer, .push{
	height: 4.4em;
}


























