/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
	background-color: #ed872d
}

header{
	background-color: #808080;
	height: 60px;
	display: flex;
	height: auto;
	padding: 10px 10px 10px 10px;
}

#logo{
	min-width: 440px;
}

.logo{
	color: #ed872d;
	text-decoration: none;
	font-family: 'Metrophobic', sans-serif;
	font-size: 50px;
}

h1, h3{
	font-family: 'Metrophobic', sans-serif;
	padding-bottom: 10px;
}

h1{
	font-size: 50px;
	padding-bottom: 10px;
}

h3{
	font-size: 25px;
	padding-bottom: 5px;
}

#add-link{
	padding: 5px 0 0 10px;
}

a.user-button.highlighted{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #446ccf), color-stop(1, #1164b4) );
	background:-moz-linear-gradient( center top, #446ccf 5%, #1164b4 100% );
	-webkit-box-shadow:inset 0px 1px 0px 0px #6082b6;-moz-box-shadow:inset 0px 1px 0px 0px #6082b6;box-shadow:inset 0px 1px 0px 0px #6082b6;
	border:2px solid #6082b6;
	width:110px;
	text-indent:-5px;
}

.welcome-message{
	padding: 15px 10px 0 0;
	color: #FFF;
	font-family: 'Metrophobic', sans-serif;
}

a.welcome-message{
	text-decoration: none;
	color: #FFC
}

#profile-container{
	overflow: hidden;
	padding-bottom: 20px;
}

#profile-container .col{
	width: 33%;
	float: left;
}

#user-links{
	float: left;
	padding: 5px 0 0 10%;
	display: flex;
}

.user-button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffce79), color-stop(1, #eeaf41) );background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
	background-color:#ffce79;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fceaca;-moz-box-shadow:inset 0px 1px 0px 0px #fceaca;box-shadow:inset 0px 1px 0px 0px #fceaca;
	-webkit-border-top-left-radius:42px;-moz-border-radius-topleft:42px;border-top-left-radius:42px;
	-webkit-border-top-right-radius:0px;-moz-border-radius-topright:0px;border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:42px;-moz-border-radius-bottomright:42px;border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:0px;-moz-border-radius-bottomleft:0px;border-bottom-left-radius:0px;
	text-indent:0;
	text-decoration: none;
	border:2px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	height:46px;
	line-height:46px;
	min-width:98px;
	text-align:center;
	text-shadow:1px 1px 0px #ce8e28;
}

.user-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeaf41), color-stop(1, #ffce79) );background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
	background-color:#eeaf41;
}

.user-button:active {
	position:relative;
	top:1px;
}

#container{
	background-color: #2d93ed;
	margin: 10px 10px 10px 10px;
	border: solid #bb6010;
	min-height: 100px;
	text-align: center;
}

.link{
	background-color: #75b8f3;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	margin: 10px;
	padding: 15px 10px;
	text-align: left;
	display: none;
}

a.prof-title{
	text-decoration: none;
	color: #733b0a
}

.link a.title{
	letter-spacing: 1px;
	text-decoration: none;
	color: #733b0a;
}

.link .description{
	margin: 10px inherit;
}

.link .source{
	float: right;
	font-size: 12px;
}

.link .source a.user{
	text-decoration: none;
	color: #733b0a;
}

footer{
	display: flex;
	background-color: rgba(0,0,0,0.2);
}

footer > * {
	margin: auto inherit;
}

footer img{
	vertical-align: top;
}

footer #technologies{
	-webkit-flex: 1;
	flex: 1;
}

footer p{
	padding: 5px 25px;
}

*{
	margin: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%
}

.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4.4em;
}

footer, .push{
	height: 4.4em;
}

.flash{
	text-align: center;
	margin: 5px;
	padding: 5px;
	border-radius: 4px;
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
	color: white;
}

.notice{
	background-color: rgba(67,183,123,0.75);
}

.error{
	background-color: rgba(250,0,0,0.75);
}

.fav-ico{
	height:12px;
	width:12px;
}

.favourite {
	float: right;
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:0px;-moz-border-radius-topleft:0px;border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;-moz-border-radius-topright:0px;border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;-moz-border-radius-bottomright:0px;border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;-moz-border-radius-bottomleft:0px;border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:24px;
	line-height:20px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
.favourite:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.favourite:active {
	position:relative;
	top:1px;
}

.link-tags-div{
	display: inline;
}

.link-tags {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;-moz-border-radius-topleft:0px;border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;-moz-border-radius-topright:0px;border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;-moz-border-radius-bottomright:0px;border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;-moz-border-radius-bottomleft:0px;border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	line-height:30px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	padding: 0 10px 0 10px;
}
.link-tags:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.link-tags:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */













