<h1>Please log in</h1>
<form action="/sessions" method="post">
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password"><br />
	Remember Me <input type="checkbox" name="remember_me">
	<input type="submit" value="Sign in">
</form>
<a href="/users/retrieve">Forgotten password?</a>
