<form action="/users" method="post">
	<input name="email" type="text" placeholder="Email" value="<%= @user.email %>">
	<input name="password" placeholder="Password" type="password">
	<input name="password_confirmation" placeholder="Confirm Password" type="password">
	<input type="submit" value="Sign up">
</form>