<h1>New Password</h1>
<form action="/users/new_password" method="post">
	<input type="hidden" name="token" value="<%= @token %>">
	<input type="password" name="password" placeholder="Password">
	<input name="password_confirmation" placeholder="Confirm Password" type="password">
	<input type="submit" value="Submit">
</form>