<header>
	<div id="logo">
		<a class="logo" href="/">Bookmark Manager</a>
	</div>

	<div id="add-link">
		<a href="/links/new" class="add-link user-button highlighted">Add link</a>
	</div>

	<div id="user-links">
		<% if current_user %>
			<span class="welcome-message">Welcome, <a class="welcome-message" href="/users/current"><%= current_user.email %></a></span>
			<form id="sign-out" method="post" action="/sessions">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" class="user-button" value="Sign out">
			</form>
		<% else %>
			<a href="/users/new" class="new-user user-button">Sign up</a>
			<a href="/sessions/new" class="new-session user-button">Sign in</a>
		<% end %>
	</div>
</header>