<!DOCTYPE html>
<html>
<head>
	<title>Bookmark Manager</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
</head>
	<body>
	<div class="wrapper">
		<%= partial :header %>
		<%= partial :flash %>
		<div id="container">
			<%= yield %>
		</div>
		<div class="push"></div>
	</div>
	<%= partial :footer %>
	</body>
</html>









