<!DOCTYPE html>
<html>
<head>
	<title>Bookmark Manager</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
</head>
	<body>
	<div class="wrapper">

		<%= partial :header %>
		<%= partial :flash %>
		<div id="container">
			<%= yield %>
		</div>
		<div class="push"></div>
	</div>
		<footer>
			<div id="makersacademy-logo">
				<a href="http://www.makersacademy.com/">
					<img src="http://www.makersacademy.com/images/logo.png">
				</a>
			</div>
			<div id="technologies">
				<p>
					I built this page at <a href="http://www.makersacademy.com/">Makers Academy</a>, a highly selective 12 week coding course in London.
				</p>
				<p>
					This website is built using Ruby, Sinatra, RSpec, Capybara, HTML and CSS.
				</p>
			</div>
		</footer>

	</body>
</html>









