<!DOCTYPE html>
<html>
<head>
	<title>Bookmark Manager</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
</head>
	<body>
		<header>
			<div id="logo"><a class="logo" href="/">Bookmark Manager</a></div>
			<div id="user-links">
				<% if current_user %>
				<span id="welcome-message">
					Welcome, <%= current_user.email %>
				</span>
				<form id="sign-out" method="post" action="/sessions">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="Sign out">
				</form>
			<% end %>
			</div>
			<div id="user-sign">
				<a href="/users/new" class="user-button">Sign up</a>
				<a href="/sessions/new" class="user-button">Sign in</a>
			</div>
		</header>

		<% if flash[:notice] %>
			<div id="notice">
				<%= flash[:notice] %>
			</div>
		<% end %>

		<% if flash[:errors] && !flash[:errors].empty? %>
			Sorry, there were the following problems with the form.
			<ul id="errors">
				<% flash[:errors].each do |error| %>
					<li><%= error %></li>
				<% end %>
			</ul>
		<% end %>

		<%= yield %>
	</body>
</html>